html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional - improve font look */
body {
  font-family: 'Poppins', sans-serif;
}
